<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Generador de peticiones HTTP</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" type="text/css" media="screen" href="css/ionicons.min.css"> 
        <link rel="stylesheet" href="css/shCore.css">
        <link rel="stylesheet" href="css/shThemeDark.css">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script><![endif]-->
    </head>

    <body>
        
        <div class="container" id="petitioner">
            
            <div class="row">
                <div class="jumbotron col-md-12 bg-darkgreen text-center text-light font-weight-bold">
                    <h1>Generador de peticiones HTTP</h1>
                </div>
            </div>
            
            <div class="row">
                <div class="card col-md-12 bg-darkgreen p-0">
                    <div class="card-header text-light font-weight-bold"><h2 class="mb-0">Petición HTTP</h2></div>
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2">
                                    <select id="select" v-model="request.method" class="btn btn-light col-md-12 font-weight-bold">
                                        <option value="GET" class="font-weight-bold">GET</option>
                                        <option value="POST" class="font-weight-bold">POST</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="ion ion-home"></i></span>
                                        <input type="text" class="form-control bg-light text-left" v-model="request.domain" placeholder="Ingrese el dominio" aria-label="Amount (to the nearest dollar)">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="ion ion-pound"></i></span>
                                        <input type="text" autofocus class="form-control bg-light text-left" v-model="request.url" placeholder="Ingrese la URL" aria-label="Amount (to the nearest dollar)">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-primary col-md-12" v-on:click="enviarPeticion()">
                                        <i class="ion-log-in"> Enviar</i>
                                    </button>
                                </div>  
                            </div>
                            <br>
                            <div class="row">
                                <div class="container">
                                    <ul class="nav nav-tabs-dark nav-tabs nav-justified" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#tab-params">PARAMS</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#tab-header">HEADER</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" :class="{ 'disabled' : (request.method === 'POST') }" data-toggle="tab" href="#tab-body">BODY</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="tab-params" class="tab-pane active">
                                            <div class="card scrolleable bg-darkgray" v-bind:style="{height:heightPetition+'px'}">
                                                <div class="card-body pl-15 pr-15 pt-0 pb-0">
                                                    <table class="table table-striped table-hover table-sm table-responsive table-inverse">
                                                        <thead>
                                                            <tr>
                                                                <th class="p-2">Propiedad</th>
                                                                <th class="p-2">Valor</th>
                                                                <th class="p-2"></th>
                                                            </tr>
                                                        </thead>
                                                        <tfoot>
                                                            <tr>
                                                                <td>
                                                                    <input type="text" v-model="newRequestParam.nombre" class="form-control bg-light text-left" placeholder="Nombre de la propiedad" aria-label="Nombre de la propiedad">
                                                                </td>
                                                                <td>
                                                                    <input type="text" v-model="newRequestParam.valor" class="form-control bg-light text-left" placeholder="Valor de la propiedad" aria-label="Valor de la propiedad">
                                                                </td>
                                                                <td class="text-center">
                                                                    <button type="button" v-on:click="addKey(true)" class="btn btn-success">
                                                                        <i class="ion-plus-round"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tfoot>
                                                        <tbody>
                                                            <tr v-for="(requestParamDetail, index) in requestParams">
                                                                <td>
                                                                    <input type="text" v-on:focus="requestParamDetail.focus = true" v-on:blur="requestParamDetail.focus = false" v-model="requestParamDetail.nombre" class="form-control form-control-sm bg-light text-left" placeholder="Nombre de la propiedad" aria-label="Nombre de la propiedad" :class="{transparent : !requestParamDetail.focus}">
                                                                </td>
                                                                <td>
                                                                    <input type="text" v-on:focus="requestParamDetail.focus = true" v-on:blur="requestParamDetail.focus = false" v-model="requestParamDetail.valor" class="form-control form-control-sm bg-light text-left" placeholder="Valor de la propiedad" aria-label="Valor de la propiedad" :class="{transparent : !requestParamDetail.focus}">
                                                                </td>
                                                                <td class="text-center">
                                                                    <button v-on:click="requestParamDetail.activado = !requestParamDetail.activado" type="button" class="btn btn-sm btn-primary"
                                                                      :class="requestParamDetail.activado? 'btn-success' : 'btn-secondary'">
                                                                      <i :class="requestParamDetail.activado? 'ion-ios-checkmark-outline' : 'ion-ios-circle-outline'"></i>
                                                                    </button>
                                                                    <button v-on:click="removeKey(true, index)" type="button" class="btn btn-sm btn-danger">
                                                                      <i class="ion-backspace"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="tab-header" class="tab-pane">
                                            <div class="card scrolleable bg-darkgray" v-bind:style="{height:heightPetition+'px'}">
                                                <div class="card-body pl-15 pr-15 pt-0 pb-0">
                                                    <table class="table table-striped table-hover table-sm table-responsive table-inverse">
                                                        <thead>
                                                            <tr>
                                                                <th class="p-2">Propiedad</th>
                                                                <th class="p-2">Valor</th>
                                                                <th class="p-2"></th>
                                                            </tr>
                                                        </thead>
                                                        <tfoot>
                                                            <tr>
                                                                <td>
                                                                    <input type="text" v-model="newRequestHeader.nombre" class="form-control bg-light text-left" placeholder="Nombre de la propiedad" aria-label="Nombre de la propiedad">
                                                                </td>
                                                                <td>
                                                                    <input type="text" v-model="newRequestHeader.valor" class="form-control bg-light text-left" placeholder="Valor de la propiedad" aria-label="Valor de la propiedad">
                                                                </td>
                                                                <td class="text-center">
                                                                    <button type="button" v-on:click="addKey(false)" class="btn btn-success">
                                                                        <i class="ion-plus-round"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tfoot>
                                                        <tbody>
                                                            <tr v-for="(requestHeaderDetail, index) in requestHeaders">
                                                                <td>
                                                                    <input type="text" v-on:focus="requestHeaderDetail.focus = true" v-on:blur="requestHeaderDetail.focus = false" v-model="requestHeaderDetail.nombre" class="form-control form-control-sm bg-light text-left" placeholder="Nombre de la propiedad" aria-label="Nombre de la propiedad" :class="{transparent : !requestHeaderDetail.focus}">
                                                                </td>
                                                                <td>
                                                                    <input type="text" v-on:focus="requestHeaderDetail.focus = true" v-on:blur="requestHeaderDetail.focus = false" v-model="requestHeaderDetail.valor" class="form-control form-control-sm bg-light text-left" placeholder="Valor de la propiedad" aria-label="Valor de la propiedad" :class="{transparent : !requestHeaderDetail.focus}">
                                                                </td>
                                                                <td class="text-center">
                                                                    <button v-on:click="requestHeaderDetail.activado = !requestHeaderDetail.activado" type="button" class="btn btn-sm btn-primary"
                                                                      :class="requestHeaderDetail.activado? 'btn-success' : 'btn-secondary'">
                                                                      <i :class="requestHeaderDetail.activado? 'ion-ios-checkmark-outline' : 'ion-ios-circle-outline'"></i>
                                                                    </button>
                                                                    <button v-on:click="removeKey(false, index)" type="button" class="btn btn-sm btn-danger">
                                                                      <i class="ion-backspace"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="tab-body" class="tab-pane">
                                            <div class="card bg-darkgray" v-bind:style="{height:heightPetition+'px'}">
                                                <div class="card-body">
                                                    <div v-if="!archivo">
                                                        <textarea v-model="request.data" id="textarea" class="form-control col-md-12 bg-light" rows="10"></textarea>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-9">
                                                            <input type="file" v-on:change="cargarArchivo($event)" id="inputArchivo">
                                                        </div>
                                                        <div class="col-md-3" v-if="archivo">
                                                            <button type="button" v-on:click="borrarArchivo()" class="btn btn-block btn-danger">
                                                                <i class="ion-backspace"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="card col-md-12 bg-darkgreen p-0">
                    <div class="card-header text-light font-weight-bold">
                        <div class="row mr-3">
                            <h2 class="col-md-8 mb-0">Respuesta</h2>
                            <div class="card col-md-4 text-right mb-0 text-light" :class="error? 'bg-danger' : 'bg-success'">
                                <div class="card-body p-1 text-center">{{getEstado()}}</div>
                            </div>
                        </div>
                    </div>
                    <div class='card-body'>
                        <div class='container'>
                            <ul class="nav nav-tabs-dark nav-tabs nav-justified" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tab-headerResponse">HEADER</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-bodyResponse">BODY</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-previewResponse">PREVIEW</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-headerResponse" class="tab-pane active">
                                    <div class="card scrolleable bg-darkgray" v-bind:style="{height:heightResponse+'px'}">
                                        <div class="card-body pl-15 pr-15 pt-0 pb-0">
                                            <table class="table table-striped table-responsive table-inverse">
                                                <thead>
                                                    <tr>
                                                        <th class="p-2">Nombre</th>
                                                        <th class="p-2">Valor</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(value, key) in responseHeaders">
                                                        <td>
                                                            <li>{{key}}</li>
                                                        </td>
                                                        <td>{{value}}</td>       
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-bodyResponse" class='tab-pane'>
                                    <div class="card bg-darkgray" v-bind:style="{height:heightResponse+'px'}">
                                        <div id="responseText" class="card-body containerResponse">
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-previewResponse" class='tab-pane'>
                                    <div class="card bg-darkgray" v-bind:style="{height:heightResponse+'px'}">
                                        <div class="card-body p-0" style="height:inherit">
                                            <iframe id="responseFrame" class="iframeResponse">
                                            </iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- /container 
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/vue.js"></script>
        <script src="js/main.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/shCore.js"></script>
        <script src="js/shBrushXml.js"></script>
        
    </body>

</html>